<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Configuraciones del SMTP -->
		<add key="SmtpEmail" value="tu_correo@gmail.com"/>
		<add key="SmtpPassword" value="tu_contraseña_o_contraseña_de_aplicacion"/>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="EnableSsl" value="true"/>

		<!-- Configuraciones del correo -->
		<add key="FromEmail" value="tu_correo@gmail.com"/>
		<add key="FromName" value="Tu Nombre"/>
		<add key="ToEmail" value="destinatario@gmail.com"/>
		<add key="Subject" value="Prueba de Notificación"/>

		<!-- Texto definido por el usuario -->
		<add key="CustomMessage" value="Este es un texto personalizado que será combinado con la tabla de notificación."/>

	</appSettings>
</configuration>
